<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.propertyPages">
      <page class="sandbox9.mybatis.stitch.preference.StitchPropertyPage"
            id="sandbox9.mybatis.stitch.preference.StitchPropertyPage"
            name="MybatisStitch ">
         <enabledWhen>
            <instanceof value="org.eclipse.jdt.core.IJavaProject" />
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="Mybatis-Stitch"
            name="Mybatis Stitch">
      </category>
      <view
            category="Mybatis-Stitch"
            class="sandbox9.mybatis.stitch.view.ui.StitchView"
            icon="icons/sample.gif"
            id="sandbox9.mybatis.stitch.view.ui.StitchView"
            name="MybatisHelper">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="test3.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
</plugin>
